/* Utilities */
@import url("utilities/fonts.css");

/* Components */
@import url("components/banner.css");
@import url("components/header.css");
@import url("components/footer.css");
@import url("components/article.css");

* {
	box-sizing: border-box;
}
i {
	font-size: 6rem;
}

html,
body {
	margin: 0;
	padding: 0;
}
